<li class="combatant actor directory-item flexrow"  :class="combatant.cssClass" v-for="combatant in combatants" :data-combatant-id="combatant.id">
    <img class="token-image flexcol" :src="combatant.img" :alt="combatant.name"/>
    <div class="token-name flexcol">
        <h4>[[combatant.name]]</h4>
        <div class="combatant-controls flexrow">
            <a v-if="user.isGM" class="combatant-control" :class="combatant.hidden && 'active'" data-tooltip="COMBAT.ToggleVis" @click="toggleHidden(combatant.id)">
                <i class="fas fa-eye-slash"></i>
            </a>
            <a v-if="user.isGM" class="combatant-control" :class="combatant.defeated && 'active'" data-tooltip="COMBAT.ToggleDead" @click="toggleDefeated(combatant.id)">
                <i class="fas fa-skull"></i>
            </a>
            <a v-if="combatant.canPing" class="combatant-control" data-tooltip="COMBAT.PingCombatant" @click="pingCombatant(combatant.id)">
                <i class="fa-solid fa-bullseye-arrow"></i>
            </a>
        </div>
    </div>
    <ol class="phase-combatant-controls" v-if="currentPhaseControls.length > 0">
        <li class="phase-combatant-control" v-for="control in currentPhaseControls" v-html="control.content" @click="handleControlClick(control, combatant.id)" :class="control.cssClass" :data-tooltip="control.tooltip"></li>
    </ol>
</li>
