.placeholder .token-name {
    margin-left: 8px;
}

.phase-combatant-controls {
    height: 48px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.phase-combatant-control {
    padding: 8px;
    cursor: pointer;
}

.phase-combatant-control:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

.directory .directory-item.active.has-subphases {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}
