.placeholder-name {
    margin-left: 8px;
}

.phase-combatant-controls {
    height: 48px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.phase-combatant-control {
    padding: 8px;
    cursor: pointer;
}

.phase-combatant-control:hover {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}

/* Old School Essentials */
.declare-spells {
    text-shadow: 0 0 8px var(--color-shadow-primary);
}
